@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for clean UI in panels */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Brutalist Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-left: 2px solid black;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border: 2px solid white;
}
::-webkit-scrollbar-thumb:hover {
  background: #333333;
}